/* 
general 
-------
*/
body {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  overflow-x: hidden;
  background-color: #343a40;;
}

.container-fluid {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}

.ant-layout {
  background: #fff !important;
}

.mainLayout .ant-layout-header {
  background: #f8f8f8;
  padding: 0;
  height: auto;
  line-height: 1.6;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

.bgGray {
  background: #fafafa;
}

/* 
title holder
------------
*/
.titleHolder {
  text-align: center;
  position: relative;
  padding: 0 0 20px;
  margin: 0 0 40px;
}

.titleHolder:after {
  transform: translateX(-50%);
  content: '';
  background: #1890ff;
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 3px;
  width: 50px;
}

.titleHolder h2 {
  font-size: 28px;
  margin: 0;
}

/* 
header
------ 
*/
.ant-layout-header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.header .logo {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
}

.header .logo .fas {
  color: #1890ff;
  margin: 0 5px 0 0;
  font-size: 28px;
}

.header .logo a {
  color: #333;
}

.header .ant-anchor-wrapper {
  background: none;
}

.header .ant-anchor {
  display: flex;
}

.header .ant-anchor-ink {
  display: none;
}

.header .ant-anchor-link {
  padding: 0 20px;
  line-height: 1.4;
  position: relative;
}

.header .ant-anchor-link:before,
.header .ant-anchor-link:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-anchor-link:after {
  left: auto;
  right: 30%;
}

.header .ant-anchor-link.ant-anchor-link-active:before,
.header .ant-anchor-link:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-anchor-link.ant-anchor-link-active:after,
.header .ant-anchor-link:hover:after {
  right: 5%;
  opacity: 1;
}

/* ant menu */
.header .ant-menu {
  border: 0;
  background: none !important;
}

.header .ant-menu li.ant-menu-item {
  position: relative;
  color: #333;
}

.header .ant-menu li.ant-menu-item:before,
.header .ant-menu li.ant-menu-item:after {
  content: '';
  background: #1890ff;
  width: 1px;
  position: absolute;
  top: 2px;
  bottom: 2px;
  left: 30%;
  opacity: 0;
  transition: all 0.3s linear;
}

.header .ant-menu li.ant-menu-item:after {
  left: auto;
  right: 30%;
}

.header .ant-menu li.ant-menu-item,
.header .ant-menu li.ant-menu-item-selected {
  border: 0 !important;
}

.header .ant-menu li.ant-menu-item-selected,
.header .ant-menu li.ant-menu-item:hover {
  color: #1890ff;
  background: none;
}

.header .ant-menu li.ant-menu-item-selected:before,
.header .ant-menu li.ant-menu-item:hover:before {
  left: 5%;
  opacity: 1;
}

.header .ant-menu li.ant-menu-item-selected:after,
.header .ant-menu li.ant-menu-item:hover:after {
  right: 5%;
  opacity: 1;
}

/* 
hero
---- 
*/
.heroBlock {
  background: url('assets/images/bg-hero.jpg') no-repeat;
  background-position: 50% 100%;
  background-size: cover;
  height: 100vh;
}

.heroBlock .container-fluid {
  display: block !important;
}

.heroBlock .ant-carousel,
.heroBlock .ant-carousel div {
  height: 100%;
}

.heroBlock .slick-dots li button {
  background: #000 !important;
}

.heroBlock .slick-dots li.slick-active button {
  background: #1890ff !important;
}

.heroBlock .content {
  max-width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 70px;
}

.heroBlock h3 {
  font-size: 30px;
  line-height: 1.2;
  margin: 0 0 30px;
}

.heroBlock p {
  margin: 0 0 30px;
}

.heroBlock .btnHolder {
  height: auto !important;
}

.heroBlock .btnHolder button,
.heroBlock .btnHolder .fas {
  margin: 0 10px 0 0;
}

/* 
block
----- 
*/
.block {
  padding: 60px 0;
  border-bottom: 1px solid ;
}

/* 
about
----- 
*/
.aboutBlock h2 {
  color:#fff;
}
.aboutBlock h3 {
  color:#fff;
}
.aboutBlock {
  background: #343a40;
  color: #ffffff;
}
.aboutBlock .contentHolder {
  text-align: center;
  margin: 0 0 50px;
}

.aboutBlock .icon {
  font-size: 40px;
  color: #1890ff;
  margin: 0 0 10px;
}

.aboutBlock .content {
  text-align: center;
}

/* 
how it works
------------
*/
.worksBlock {
  background: url('assets/images/bg-works.jpg') no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  position: relative;
}

.worksBlock:before {
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.worksBlock h2 {
  color: #fff;
}

.worksBlock .contentHolder {
  text-align: center;
}

.worksBlock .contentHolder button {
  font-size: 40px;
  line-height: 1;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  padding: 30px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
}

/* 
faqs
----
*/
.faqBlock .ant-collapse {
  margin: 0 0 40px;
}

.faqBlock .quickSupport {
  text-align: center;
  max-width: 740px;
  margin: auto;
}

.faqBlock .fas {
  margin: 0 10px 0 0;
}

/* 
pricing block
-------------
*/
.pricingBlock .ant-list {
  text-align: center;
}

.pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
  box-shadow: 0 0 12px 2px #f3f3f3;
  transform: scale(1.1);
  position: relative;
  z-index: 1;
}

.pricingBlock .ant-card-head-title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
}

.pricingBlock .large {
  font-size: 38px;
  line-height: 1;
  margin: 0 0 20px;
}

.pricingBlock .fab {
  margin: 0 10px 0 0;
}

/* 
contact
-------
*/
.contactBlock .ant-form {
  max-width: 640px;
  margin: auto;
}

.contactBlock .ant-form textarea {
  min-height: 120px;
  height: 120px;
}

/* 
footer
------
*/
.ant-layout-footer {
  background: #111 !important;
  color: #fff !important;
  padding: 60px 0 !important;
  text-align: center;
}

.footer .logo {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 0 20px;
}

.footer .fas {
  color: #1890ff;
  font-size: 28px;
  margin: 0 5px 0 0;
}

.footer .logo a {
  color: #fff;
}

.footer .socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 24px;
}

.footer .socials li {
  margin: 0 20px;
}

.footer .socials a {
  color: #fff;
}

.footer .socials a:hover {
  color: #1890ff;
}

.footer .goTop:hover {
  opacity: 0.7;
}

.mobileVisible {
  display: none;
}

.mobileHidden {
  display: block;
}

/* 
responsive
----------
*/
@media only screen and (max-width: 991px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1.14);
  }
}

@media only screen and (max-width: 767px) {
  .pricingBlock .ant-row > div:nth-child(2) .ant-list-item {
    transform: scale(1);
  }

  .mobileVisible {
    display: block;
  }
  
  .mobileHidden {
    display: none;
  }
}
/* 
more */


#stars {
  width: 1px;
  height: 1px;
  background: #57a16b ;
  box-shadow: 174px 187px #57a16b , 749px 1972px #57a16b  , 1996px 1113px #57a16b  , 126px 42px #57a16b  , 816px 200px #57a16b  , 
  47px 1229px #57a16b  , 750px 902px #57a16b  , 1884px 1799px #57a16b  , 460px 1597px #57a16b  , 1215px 1884px #57a16b  , 
  1986px 1726px #57a16b  , 565px 823px #57a16b  , 699px 1940px #57a16b  , 32px 1091px #57a16b  , 1559px 572px #57a16b  , 
  1232px 815px #57a16b  , 1060px 682px #57a16b  , 1551px 531px #57a16b  , 301px 976px #57a16b  , 889px 1344px #57a16b  , 
  410px 765px #57a16b  , 1691px 231px #57a16b  , 552px 82px #57a16b  , 1849px 864px #57a16b  , 236px 1881px #57a16b  , 767px 1613px #57a16b  , 1825px 1616px #57a16b  , 440px 930px #57a16b  , 1921px 1397px #57a16b  , 409px 892px #57a16b  , 1403px 128px #57a16b  , 1617px 1549px #57a16b  , 271px 1332px #57a16b  , 5px 1884px #57a16b  , 1371px 634px #57a16b  , 382px 609px #57a16b  , 1022px 1200px #57a16b  , 601px 836px #57a16b  , 811px 1240px #57a16b  , 1266px 713px #57a16b  , 1514px 1237px #57a16b  , 318px 751px #57a16b  , 662px 1315px #57a16b  , 1592px 1170px #57a16b  , 112px 290px #57a16b  , 1885px 1104px #57a16b  , 1247px 1511px #57a16b  , 1803px 1126px #57a16b  , 710px 527px #57a16b  , 1480px 908px #57a16b  , 1386px 74px #57a16b  , 1414px 1279px #57a16b  , 289px 1430px #57a16b  , 258px 1933px #57a16b  , 1648px 665px #57a16b  , 444px 201px #57a16b  , 1102px 1939px #57a16b  , 619px 835px #57a16b  , 810px 1704px #57a16b  , 381px 1922px #57a16b  , 1229px 1335px #57a16b  , 1448px 637px #57a16b  , 680px 455px #57a16b  , 96px 1142px #57a16b  , 449px 960px #57a16b  , 274px 1974px #57a16b  , 24px 1044px #57a16b  , 1449px 1743px #57a16b  , 537px 1874px #57a16b  , 282px 272px #57a16b  , 1090px 1557px #57a16b  , 1738px 680px #57a16b  , 1221px 731px #57a16b  , 1620px 1212px #57a16b  , 481px 466px #57a16b  , 269px 611px #57a16b  , 939px 1392px #57a16b  , 1275px 1667px #57a16b  , 163px 694px #57a16b  , 1897px 27px #57a16b  , 1991px 661px #57a16b  , 988px 762px #57a16b  , 961px 1686px #57a16b  , 333px 1172px #57a16b  , 1735px 229px #57a16b  , 1322px 331px #57a16b  , 362px 771px #57a16b  , 287px 36px #57a16b  , 1985px 1283px #57a16b  , 1833px 162px #57a16b  , 416px 1610px #57a16b  , 991px 16px #57a16b  , 1762px 424px #57a16b  , 1669px 36px #57a16b  , 1500px 598px #57a16b  , 1108px 672px #57a16b  , 992px 447px #57a16b  , 879px 107px #57a16b  , 1500px 756px #57a16b  , 832px 1440px #57a16b  , 1580px 1248px #57a16b  , 231px 660px #57a16b  , 799px 392px #57a16b  , 1220px 1337px #57a16b  , 892px 204px #57a16b  , 574px 1343px #57a16b  , 312px 728px #57a16b  , 1067px 721px #57a16b  , 735px 1612px #57a16b  , 20px 1114px #57a16b  , 454px 1957px #57a16b  , 1099px 1905px #57a16b  , 1442px 1051px #57a16b  , 477px 150px #57a16b  , 1838px 341px #57a16b  , 587px 1068px #57a16b  , 743px 607px #57a16b  , 1803px 1706px #57a16b  , 247px 114px #57a16b  , 1498px 1426px #57a16b  , 831px 1615px #57a16b  , 158px 1183px #57a16b  , 408px 1503px #57a16b  , 790px 1545px #57a16b  , 543px 906px #57a16b  , 793px 1384px #57a16b  , 1030px 408px #57a16b  , 1706px 802px #57a16b  , 622px 275px #57a16b  , 277px 922px #57a16b  , 534px 496px #57a16b  , 533px 44px #57a16b  , 1662px 1877px #57a16b  , 1055px 1401px #57a16b  , 256px 611px #57a16b  , 548px 1978px #57a16b  , 348px 48px #57a16b  , 1809px 1016px #57a16b  , 550px 846px #57a16b  , 945px 1301px #57a16b  , 113px 1305px #57a16b  , 907px 1660px #57a16b  , 729px 587px #57a16b  , 1979px 1343px #57a16b  , 1360px 61px #57a16b  , 265px 1229px #57a16b  , 1967px 1781px #57a16b  , 278px 1895px #57a16b  , 1636px 701px #57a16b  , 1373px 1390px #57a16b  , 1874px 391px #57a16b  , 1326px 1972px #57a16b  , 1001px 1169px #57a16b  , 1478px 193px #57a16b  , 202px 447px #57a16b  , 1963px 1563px #57a16b  , 1215px 159px #57a16b  , 21px 669px #57a16b  , 1518px 789px #57a16b  , 1866px 460px #57a16b  , 948px 195px #57a16b  , 244px 1484px #57a16b  , 768px 1235px #57a16b  , 1846px 1180px #57a16b  , 973px 822px #57a16b  , 1994px 39px #57a16b  , 1788px 1773px #57a16b  , 692px 599px #57a16b  , 1751px 1868px #57a16b  , 161px 1885px #57a16b  , 1776px 1781px #57a16b  , 1801px 1320px #57a16b  , 550px 643px #57a16b  , 343px 613px #57a16b  , 1387px 498px #57a16b  , 1738px 715px #57a16b  , 724px 544px #57a16b  , 1367px 1431px #57a16b  , 1506px 1827px #57a16b  , 1410px 525px #57a16b  , 793px 1053px #57a16b  , 1211px 259px #57a16b  , 478px 297px #57a16b  , 1855px 1144px #57a16b  , 399px 132px #57a16b  , 1647px 459px #57a16b  , 571px 277px #57a16b  , 1461px 1128px #57a16b  , 158px 1034px #57a16b  , 527px 701px #57a16b  , 1122px 882px #57a16b  , 894px 1836px #57a16b  , 182px 29px #57a16b  , 617px 275px #57a16b  , 494px 1482px #57a16b  , 98px 1654px #57a16b  , 884px 703px #57a16b  , 573px 1307px #57a16b  , 1539px 1946px #57a16b  , 1860px 315px #57a16b  , 1243px 373px #57a16b  , 1217px 981px #57a16b  , 679px 67px #57a16b  , 206px 495px #57a16b  , 1716px 1077px #57a16b  , 1491px 1359px #57a16b  , 169px 493px #57a16b  , 891px 268px #57a16b  , 1598px 522px #57a16b  , 389px 1295px #57a16b  , 1497px 1760px #57a16b  , 1219px 1579px #57a16b  , 1571px 814px #57a16b  , 1844px 262px #57a16b  , 1030px 1837px #57a16b  , 1636px 862px #57a16b  , 1655px 1850px #57a16b  , 33px 1232px #57a16b  , 1176px 454px #57a16b  , 1723px 1204px #57a16b  , 921px 1579px #57a16b  , 30px 953px #57a16b  , 1999px 941px #57a16b  , 242px 1961px #57a16b  , 812px 1264px #57a16b  , 1648px 5px #57a16b  , 932px 630px #57a16b  , 1904px 1113px #57a16b  , 883px 689px #57a16b  , 187px 1647px #57a16b  , 1px 1215px #57a16b  , 503px 276px #57a16b  , 1559px 175px #57a16b  , 1040px 1828px #57a16b  , 106px 941px #57a16b  , 1135px 633px #57a16b  , 1257px 1476px #57a16b  , 149px 413px #57a16b  , 48px 200px #57a16b  , 1437px 81px #57a16b  , 544px 1202px #57a16b  , 210px 1521px #57a16b  , 918px 1566px #57a16b  , 879px 1617px #57a16b  , 458px 368px #57a16b  , 532px 1719px #57a16b  , 1624px 726px #57a16b  , 1843px 915px #57a16b  , 538px 1172px #57a16b  , 830px 230px #57a16b  , 1927px 1563px #57a16b  , 947px 494px #57a16b  , 290px 1375px #57a16b  , 1660px 85px #57a16b  , 1022px 1155px #57a16b  , 630px 108px #57a16b  , 1519px 748px #57a16b  , 95px 837px #57a16b  , 527px 1931px #57a16b  , 996px 1385px #57a16b  , 1152px 1141px #57a16b  , 1611px 926px #57a16b  , 1706px 438px #57a16b  , 627px 905px #57a16b  , 1684px 115px #57a16b  , 1853px 1327px #57a16b  , 24px 1911px #57a16b  , 1947px 826px #57a16b  , 1857px 1821px #57a16b  , 1870px 1551px #57a16b  , 676px 945px #57a16b  , 334px 731px #57a16b  , 1553px 581px #57a16b  , 1993px 1268px #57a16b  , 701px 247px #57a16b  , 1689px 349px #57a16b  , 204px 790px #57a16b  , 721px 1059px #57a16b  , 944px 1243px #57a16b  , 626px 1305px #57a16b  , 1500px 1908px #57a16b  , 1803px 1210px #57a16b  , 1073px 1431px #57a16b  , 971px 1772px #57a16b  , 337px 1106px #57a16b  , 1320px 508px #57a16b  , 320px 458px #57a16b  , 503px 227px #57a16b  , 246px 79px #57a16b  , 1472px 2px #57a16b  , 980px 1134px #57a16b  , 1540px 1958px #57a16b  , 1336px 260px #57a16b  , 276px 156px #57a16b  , 778px 1412px #57a16b  , 318px 669px #57a16b  , 165px 276px #57a16b  , 1843px 243px #57a16b  , 44px 1869px #57a16b  , 172px 829px #57a16b  , 744px 909px #57a16b  , 833px 226px #57a16b  , 1280px 321px #57a16b  , 1025px 1267px #57a16b  , 392px 1066px #57a16b  , 1789px 593px #57a16b  , 228px 840px #57a16b  , 252px 715px #57a16b  , 309px 1621px #57a16b  , 1329px 1664px #57a16b  , 676px 1762px #57a16b  , 177px 410px #57a16b  , 613px 825px #57a16b  , 1806px 1661px #57a16b  , 827px 186px #57a16b  , 500px 1924px #57a16b  , 526px 443px #57a16b  , 799px 35px #57a16b  , 182px 1589px #57a16b  , 1930px 1878px #57a16b  , 1103px 917px #57a16b  , 1475px 337px #57a16b  , 1305px 1072px #57a16b  , 1847px 1387px #57a16b  , 1865px 149px #57a16b  , 210px 651px #57a16b  , 282px 206px #57a16b  , 152px 278px #57a16b  , 1880px 690px #57a16b  , 1033px 1451px #57a16b  , 1260px 1728px #57a16b  , 1832px 225px #57a16b  , 419px 587px #57a16b  , 322px 1482px #57a16b  , 550px 1344px #57a16b  , 1357px 1699px #57a16b  , 1125px 1108px #57a16b  , 1605px 1315px #57a16b  , 1280px 200px #57a16b  , 1143px 1022px #57a16b  , 226px 1335px #57a16b  , 1116px 1121px #57a16b  , 1255px 244px #57a16b  , 212px 1293px #57a16b  , 1450px 1622px #57a16b  , 178px 1087px #57a16b  , 876px 1308px #57a16b  , 458px 713px #57a16b  , 1386px 305px #57a16b  , 685px 1948px #57a16b  , 392px 294px #57a16b  , 1265px 965px #57a16b  , 494px 742px #57a16b  , 80px 562px #57a16b  , 601px 1530px #57a16b  , 1239px 434px #57a16b  , 1192px 650px #57a16b  , 1806px 538px #57a16b  , 1646px 577px #57a16b  , 1328px 1562px #57a16b  , 1353px 1686px #57a16b  , 612px 895px #57a16b  , 594px 1489px #57a16b  , 1481px 1019px #57a16b  , 154px 323px #57a16b  , 1212px 820px #57a16b  , 1095px 1496px #57a16b  , 1952px 1029px #57a16b  , 1694px 376px #57a16b  , 493px 1742px #57a16b  , 448px 1962px #57a16b  , 1138px 1710px #57a16b  , 1885px 718px #57a16b  , 404px 779px #57a16b  , 394px 1065px #57a16b  , 1767px 752px #57a16b  , 1835px 140px #57a16b  , 1176px 1265px #57a16b  , 1611px 1256px #57a16b  , 121px 1157px #57a16b  , 1565px 1613px #57a16b  , 579px 1738px #57a16b  , 1744px 359px #57a16b  , 934px 1068px #57a16b  , 1518px 302px #57a16b  , 614px 1057px #57a16b  , 1346px 1591px #57a16b  , 1256px 1982px #57a16b  , 998px 1534px #57a16b  , 651px 573px #57a16b  , 303px 1109px #57a16b  , 1477px 1003px #57a16b  , 598px 631px #57a16b  , 383px 1154px #57a16b  , 550px 322px #57a16b  , 202px 1437px #57a16b  , 1024px 1667px #57a16b  , 1506px 1977px #57a16b  , 465px 1302px #57a16b  , 510px 1131px #57a16b  , 1356px 1328px #57a16b  , 1312px 1262px #57a16b  , 345px 1567px #57a16b  , 373px 1238px #57a16b  , 1416px 1625px #57a16b  , 1113px 249px #57a16b  , 1531px 1288px #57a16b  , 828px 794px #57a16b  , 256px 426px #57a16b  , 869px 1321px #57a16b  , 1063px 1181px #57a16b  , 631px 635px #57a16b  , 139px 909px #57a16b  , 305px 1160px #57a16b  , 843px 477px #57a16b  , 1666px 277px #57a16b  , 740px 1019px #57a16b  , 264px 647px #57a16b  , 1459px 1055px #57a16b  , 976px 919px #57a16b  , 1728px 1147px #57a16b  , 1426px 1559px #57a16b  , 444px 525px #57a16b  , 1657px 1940px #57a16b  , 250px 1287px #57a16b  , 1596px 1399px #57a16b  , 555px 213px #57a16b  , 1952px 647px #57a16b  , 1371px 1635px #57a16b  , 803px 1622px #57a16b  , 1460px 534px #57a16b  , 1813px 984px #57a16b  , 1122px 1977px #57a16b  , 403px 884px #57a16b  , 1098px 896px #57a16b  , 1124px 1318px #57a16b  , 372px 1710px #57a16b  , 1308px 1233px #57a16b  , 1138px 1158px #57a16b  , 416px 1174px #57a16b  , 431px 1114px #57a16b  , 210px 1074px #57a16b  , 1111px 563px #57a16b  , 31px 1472px #57a16b  , 1629px 1311px #57a16b  , 677px 1022px #57a16b  , 232px 747px #57a16b  , 1753px 868px #57a16b  , 35px 1207px #57a16b  , 203px 1631px #57a16b  , 1977px 468px #57a16b  , 1261px 1036px #57a16b  , 322px 669px #57a16b  , 1710px 1340px #57a16b  , 1230px 463px #57a16b  , 1727px 1826px #57a16b  , 938px 1553px #57a16b  , 1562px 1690px #57a16b  , 78px 424px #57a16b  , 1927px 1980px #57a16b  , 1632px 1312px #57a16b  , 1352px 1325px #57a16b  , 66px 34px #57a16b  , 535px 138px #57a16b  , 152px 1324px #57a16b  , 1816px 580px #57a16b  , 1180px 756px #57a16b  , 1701px 1902px #57a16b  , 199px 1993px #57a16b  , 70px 1926px #57a16b  , 1342px 1276px #57a16b  , 23px 1926px #57a16b  , 1403px 172px #57a16b  , 88px 1368px #57a16b  , 1437px 1816px #57a16b  , 530px 845px #57a16b  , 845px 37px #57a16b  , 871px 1642px #57a16b  , 1357px 286px #57a16b  , 1690px 1192px #57a16b  , 266px 468px #57a16b  , 1826px 427px #57a16b  , 1256px 262px #57a16b  , 1053px 99px #57a16b  , 384px 106px #57a16b  , 32px 50px #57a16b  , 1083px 14px #57a16b  , 19px 1667px #57a16b  , 97px 1887px #57a16b  , 1356px 1699px #57a16b  , 1487px 1050px #57a16b  , 900px 1052px #57a16b  , 807px 1741px #57a16b  , 517px 360px #57a16b  , 332px 404px #57a16b  , 1253px 961px #57a16b  , 43px 558px #57a16b  , 1535px 371px #57a16b  , 448px 243px #57a16b  , 1560px 925px #57a16b  , 326px 745px #57a16b  , 956px 1182px #57a16b  , 1171px 1387px #57a16b  , 220px 1364px #57a16b  , 162px 1747px #57a16b  , 1116px 47px #57a16b  , 1507px 1228px #57a16b  , 912px 328px #57a16b  , 18px 345px #57a16b  , 863px 725px #57a16b  , 1373px 338px #57a16b  , 174px 76px #57a16b  , 42px 1740px #57a16b  , 1550px 304px #57a16b  , 1773px 1595px #57a16b  , 1285px 778px #57a16b  , 1734px 1881px #57a16b  , 1433px 1736px #57a16b  , 1449px 1573px #57a16b  , 1484px 784px #57a16b  , 384px 1716px #57a16b  , 1178px 808px #57a16b  , 474px 1387px #57a16b  , 942px 999px #57a16b  , 405px 1907px #57a16b  , 2px 1421px #57a16b  , 70px 59px #57a16b  , 391px 957px #57a16b  , 813px 1369px #57a16b  , 453px 1648px #57a16b  , 666px 1870px #57a16b  , 837px 211px #57a16b  , 9px 699px #57a16b  , 468px 862px #57a16b  , 1772px 963px #57a16b  , 1598px 663px #57a16b  , 220px 1204px #57a16b  , 51px 1405px #57a16b  , 1188px 1429px #57a16b  , 865px 1178px #57a16b  , 602px 33px #57a16b  , 440px 1498px #57a16b  , 428px 921px #57a16b  , 1756px 316px #57a16b  , 1886px 1965px #57a16b  , 1099px 782px #57a16b  , 1250px 140px #57a16b  , 542px 1471px #57a16b  , 81px 427px #57a16b  , 507px 1112px #57a16b  , 1034px 1273px #57a16b  , 1857px 1608px #57a16b  , 1873px 849px #57a16b  , 1194px 880px #57a16b  , 1385px 1948px #57a16b  , 1339px 571px #57a16b  , 1318px 1213px #57a16b  , 1999px 1461px #57a16b  , 446px 1347px #57a16b  , 730px 914px #57a16b  , 416px 670px #57a16b  , 665px 1298px #57a16b  , 621px 528px #57a16b  , 578px 1792px #57a16b  , 1972px 1433px #57a16b  , 677px 1908px #57a16b  , 806px 1953px #57a16b  , 1203px 1592px #57a16b  , 1138px 1362px #57a16b  , 1253px 153px #57a16b  , 1512px 1326px #57a16b  , 1726px 1015px #57a16b  , 685px 141px #57a16b  , 1031px 883px #57a16b  , 1269px 1272px #57a16b  , 1908px 1728px #57a16b  , 1433px 378px #57a16b  , 703px 207px #57a16b  , 350px 935px #57a16b  , 1475px 1326px #57a16b  , 1114px 1504px #57a16b  , 450px 941px #57a16b  , 1950px 1825px #57a16b  , 1507px 1113px #57a16b  , 931px 296px #57a16b  , 271px 1172px #57a16b  , 823px 531px #57a16b  , 1883px 279px #57a16b  , 80px 1834px #57a16b  , 242px 137px #57a16b  , 275px 1087px #57a16b  , 1375px 1319px #57a16b  , 820px 1176px #57a16b  , 912px 26px #57a16b  , 572px 79px #57a16b  , 303px 655px #57a16b  , 1849px 1435px #57a16b  , 702px 684px #57a16b  , 987px 1945px #57a16b  , 1934px 1667px #57a16b  , 267px 1753px #57a16b  , 216px 606px #57a16b  , 515px 1412px #57a16b  , 1598px 1181px #57a16b  , 897px 1853px #57a16b  , 1083px 121px #57a16b  , 413px 642px #57a16b  , 1819px 253px #57a16b  , 765px 556px #57a16b  , 525px 645px #57a16b  , 1748px 1135px #57a16b  , 1580px 1977px #57a16b  , 1580px 223px #57a16b  , 515px 134px #57a16b  , 116px 240px #57a16b  , 1629px 1470px #57a16b  , 1105px 1259px #57a16b  , 786px 1334px #57a16b  , 1908px 204px #57a16b  , 1519px 603px #57a16b  , 666px 1991px #57a16b  , 1208px 1483px #57a16b  , 73px 529px #57a16b  , 1246px 1602px #57a16b  , 1318px 118px #57a16b  , 1360px 937px #57a16b  , 1631px 1032px #57a16b  , 519px 765px #57a16b  , 916px 431px #57a16b  , 1931px 31px #57a16b  , 894px 224px #57a16b  , 1426px 316px #57a16b  , 1339px 1550px #57a16b  , 76px 1274px #57a16b  , 638px 1452px #57a16b  , 353px 1758px #57a16b  , 766px 1490px #57a16b  , 1410px 207px #57a16b  , 1560px 997px #57a16b  , 451px 766px #57a16b  , 1229px 1551px #57a16b  , 1135px 271px #57a16b  , 1879px 1980px #57a16b  , 467px 1434px #57a16b  , 1093px 911px #57a16b  , 1682px 396px #57a16b  , 824px 1910px #57a16b  , 465px 167px #57a16b  , 1324px 506px #57a16b  , 1731px 789px #57a16b  , 1092px 172px #57a16b  , 749px 983px #57a16b  , 1545px 284px #57a16b  , 1663px 1248px #57a16b  , 1575px 11px #57a16b  , 1691px 481px #57a16b  , 58px 1401px #57a16b  , 1677px 523px #57a16b  , 1068px 117px #57a16b  , 1045px 1694px #57a16b  , 1204px 117px #57a16b  , 1232px 272px #57a16b  , 599px 893px #57a16b  , 1655px 1178px #57a16b  , 270px 1912px #57a16b  , 599px 1774px #57a16b  , 16px 999px #57a16b  , 752px 106px #57a16b  , 1534px 219px #57a16b  , 1801px 1109px #57a16b  , 1178px 184px #57a16b  , 67px 243px #57a16b  , 1641px 221px #57a16b  , 1555px 1523px #57a16b  , 689px 1878px #57a16b  , 540px 1806px #57a16b  , 1888px 1799px #57a16b  , 691px 772px #57a16b  , 1217px 1399px #57a16b  , 936px 1856px #57a16b  , 909px 1831px #57a16b  , 1067px 982px #57a16b  , 1669px 318px #57a16b  , 526px 655px #57a16b  , 1415px 1580px #57a16b  , 370px 1959px #57a16b  , 1736px 1655px #57a16b  , 606px 1857px #57a16b  , 1313px 1005px #57a16b  , 544px 95px #57a16b  , 1215px 1591px #57a16b  , 865px 269px #57a16b  , 630px 1265px #57a16b  , 166px 523px #57a16b  , 296px 69px #57a16b  , 1291px 1400px #57a16b  , 515px 1464px #57a16b  , 1430px 315px #57a16b  , 721px 1265px #57a16b  , 
  383px 796px #57a16b ;
  animation: animStar 40s linear infinite; }
#stars:after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 1px;
  background: #57a16b ;
  box-shadow: 174px 187px #57a16b  , 749px 1972px #57a16b   , 1996px 1113px #57a16b  , 126px 42px #57a16b  , 816px 200px #57a16b  , 47px 1229px #57a16b  , 750px 902px #57a16b  , 1884px 1799px #57a16b  , 460px 1597px #57a16b  , 1215px 1884px #57a16b  , 1986px 1726px #57a16b  , 565px 823px #57a16b  , 699px 1940px #57a16b  , 32px 1091px #57a16b  , 1559px 572px #57a16b  , 1232px 815px #57a16b  , 1060px 682px #57a16b  , 1551px 531px #57a16b  , 301px 976px #57a16b  , 889px 1344px #57a16b  , 410px 765px #57a16b  , 1691px 231px #57a16b  , 552px 82px #57a16b  , 1849px 864px #57a16b  , 236px 1881px #57a16b  , 767px 1613px #57a16b  , 1825px 1616px #57a16b  , 440px 930px #57a16b  , 1921px 1397px #57a16b  , 409px 892px #57a16b  , 1403px 128px #57a16b  , 1617px 1549px #57a16b  , 271px 1332px #57a16b  , 5px 1884px #57a16b  , 1371px 634px #57a16b  , 382px 609px #57a16b  , 1022px 1200px #57a16b  , 601px 836px #57a16b  , 811px 1240px #57a16b  , 1266px 713px #57a16b  , 1514px 1237px #57a16b  , 318px 751px #57a16b  , 662px 1315px #57a16b  , 1592px 1170px #57a16b  , 112px 290px #57a16b  , 1885px 1104px #57a16b  , 1247px 1511px #57a16b  , 1803px 1126px #57a16b  , 710px 527px #57a16b  , 1480px 908px #57a16b  , 1386px 74px #57a16b  , 1414px 1279px #57a16b  , 289px 1430px #57a16b  , 258px 1933px #57a16b  , 1648px 665px #57a16b  , 444px 201px #57a16b  , 1102px 1939px #57a16b  , 619px 835px #57a16b  , 810px 1704px #57a16b  , 381px 1922px #57a16b  , 1229px 1335px #57a16b  , 1448px 637px #57a16b  , 680px 455px #57a16b  , 96px 1142px #57a16b  , 449px 960px #57a16b  , 274px 1974px #57a16b  , 24px 1044px #57a16b  , 1449px 1743px #57a16b  , 537px 1874px #57a16b  , 282px 272px #57a16b  , 1090px 1557px #57a16b  , 1738px 680px #57a16b  , 1221px 731px #57a16b  , 1620px 1212px #57a16b  , 481px 466px #57a16b  , 269px 611px #57a16b  , 939px 1392px #57a16b  , 1275px 1667px #57a16b  , 163px 694px #57a16b  , 1897px 27px #57a16b  , 1991px 661px #57a16b  , 988px 762px #57a16b  , 961px 1686px #57a16b  , 333px 1172px #57a16b  , 1735px 229px #57a16b  , 1322px 331px #57a16b  , 362px 771px #57a16b  , 287px 36px #57a16b  , 1985px 1283px #57a16b  , 1833px 162px #57a16b  , 416px 1610px #57a16b  , 991px 16px #57a16b  , 1762px 424px #57a16b  , 1669px 36px #57a16b  , 1500px 598px #57a16b  , 1108px 672px #57a16b  , 992px 447px #57a16b  , 879px 107px #57a16b  , 1500px 756px #57a16b  , 832px 1440px #57a16b  , 1580px 1248px #57a16b  , 231px 660px #57a16b  , 799px 392px #57a16b  , 1220px 1337px #57a16b  , 892px 204px #57a16b  , 574px 1343px #57a16b  , 312px 728px #57a16b  , 1067px 721px #57a16b  , 735px 1612px #57a16b  , 20px 1114px #57a16b  , 454px 1957px #57a16b  , 1099px 1905px #57a16b  , 1442px 1051px #57a16b  , 477px 150px #57a16b  , 1838px 341px #57a16b  , 587px 1068px #57a16b  , 743px 607px #57a16b  , 1803px 1706px #57a16b  , 247px 114px #57a16b  , 1498px 1426px #57a16b  , 831px 1615px #57a16b  , 158px 1183px #57a16b  , 408px 1503px #57a16b  , 790px 1545px #57a16b  , 543px 906px #57a16b  , 793px 1384px #57a16b  , 1030px 408px #57a16b  , 1706px 802px #57a16b  , 622px 275px #57a16b  , 277px 922px #57a16b  , 534px 496px #57a16b  , 533px 44px #57a16b  , 1662px 1877px #57a16b  , 1055px 1401px #57a16b  , 256px 611px #57a16b  , 548px 1978px #57a16b  , 348px 48px #57a16b  , 1809px 1016px #57a16b  , 550px 846px #57a16b  , 945px 1301px #57a16b  , 113px 1305px #57a16b  , 907px 1660px #57a16b  , 729px 587px #57a16b  , 1979px 1343px #57a16b  , 1360px 61px #57a16b  , 265px 1229px #57a16b  , 1967px 1781px #57a16b  , 278px 1895px #57a16b  , 1636px 701px #57a16b  , 1373px 1390px #57a16b  , 1874px 391px #57a16b  , 1326px 1972px #57a16b  , 1001px 1169px #57a16b  , 1478px 193px #57a16b  , 202px 447px #57a16b  , 1963px 1563px #57a16b  , 1215px 159px #57a16b  , 21px 669px #57a16b  , 1518px 789px #57a16b  , 1866px 460px #57a16b  , 948px 195px #57a16b  , 244px 1484px #57a16b  , 768px 1235px #57a16b  , 1846px 1180px #57a16b  , 973px 822px #57a16b  , 1994px 39px #57a16b  , 1788px 1773px #57a16b  , 692px 599px #57a16b  , 1751px 1868px #57a16b  , 161px 1885px #57a16b  , 1776px 1781px #57a16b  , 1801px 1320px #57a16b  , 550px 643px #57a16b  , 343px 613px #57a16b  , 1387px 498px #57a16b  , 1738px 715px #57a16b  , 724px 544px #57a16b  , 1367px 1431px #57a16b  , 1506px 1827px #57a16b  , 1410px 525px #57a16b  , 793px 1053px #57a16b  , 1211px 259px #57a16b  , 478px 297px #57a16b  , 1855px 1144px #57a16b  , 399px 132px #57a16b  , 1647px 459px #57a16b  , 571px 277px #57a16b  , 1461px 1128px #57a16b  , 158px 1034px #57a16b  , 527px 701px #57a16b  , 1122px 882px #57a16b  , 894px 1836px #57a16b  , 182px 29px #57a16b  , 617px 275px #57a16b  , 494px 1482px #57a16b  , 98px 1654px #57a16b  , 884px 703px #57a16b  , 573px 1307px #57a16b  , 1539px 1946px #57a16b  , 1860px 315px #57a16b  , 1243px 373px #57a16b  , 1217px 981px #57a16b  , 679px 67px #57a16b  , 206px 495px #57a16b  , 1716px 1077px #57a16b  , 1491px 1359px #57a16b  , 169px 493px #57a16b  , 891px 268px #57a16b  , 1598px 522px #57a16b  , 389px 1295px #57a16b  , 1497px 1760px #57a16b  , 1219px 1579px #57a16b  , 1571px 814px #57a16b  , 1844px 262px #57a16b  , 1030px 1837px #57a16b  , 1636px 862px #57a16b  , 1655px 1850px #57a16b  , 33px 1232px #57a16b  , 1176px 454px #57a16b  , 1723px 1204px #57a16b  , 921px 1579px #57a16b  , 30px 953px #57a16b  , 1999px 941px #57a16b  , 242px 1961px #57a16b  , 812px 1264px #57a16b  , 1648px 5px #57a16b  , 932px 630px #57a16b  , 1904px 1113px #57a16b  , 883px 689px #57a16b  , 187px 1647px #57a16b  , 1px 1215px #57a16b  , 503px 276px #57a16b  , 1559px 175px #57a16b  , 1040px 1828px #57a16b  , 106px 941px #57a16b  , 1135px 633px #57a16b  , 1257px 1476px #57a16b  , 149px 413px #57a16b  , 48px 200px #57a16b  , 1437px 81px #57a16b  , 544px 1202px #57a16b  , 210px 1521px #57a16b  , 918px 1566px #57a16b  , 879px 1617px #57a16b  , 458px 368px #57a16b  , 532px 1719px #57a16b  , 1624px 726px #57a16b  , 1843px 915px #57a16b  , 538px 1172px #57a16b  , 830px 230px #57a16b  , 1927px 1563px #57a16b  , 947px 494px #57a16b  , 290px 1375px #57a16b  , 1660px 85px #57a16b  , 1022px 1155px #57a16b  , 630px 108px #57a16b  , 1519px 748px #57a16b  , 95px 837px #57a16b  , 527px 1931px #57a16b  , 996px 1385px #57a16b  , 1152px 1141px #57a16b  , 1611px 926px #57a16b  , 1706px 438px #57a16b  , 627px 905px #57a16b  , 1684px 115px #57a16b  , 1853px 1327px #57a16b  , 24px 1911px #57a16b  , 1947px 826px #57a16b  , 1857px 1821px #57a16b  , 1870px 1551px #57a16b  , 676px 945px #57a16b  , 334px 731px #57a16b  , 1553px 581px #57a16b  , 1993px 1268px #57a16b  , 701px 247px #57a16b  , 1689px 349px #57a16b  , 204px 790px #57a16b  , 721px 1059px #57a16b  , 944px 1243px #57a16b  , 626px 1305px #57a16b  , 1500px 1908px #57a16b  , 1803px 1210px #57a16b  , 1073px 1431px #57a16b  , 971px 1772px #57a16b  , 337px 1106px #57a16b  , 1320px 508px #57a16b  , 320px 458px #57a16b  , 503px 227px #57a16b  , 246px 79px #57a16b  , 1472px 2px #57a16b  , 980px 1134px #57a16b  , 1540px 1958px #57a16b  , 1336px 260px #57a16b  , 276px 156px #57a16b  , 778px 1412px #57a16b  , 318px 669px #57a16b  , 165px 276px #57a16b  , 1843px 243px #57a16b  , 44px 1869px #57a16b  , 172px 829px #57a16b  , 744px 909px #57a16b  , 833px 226px #57a16b  , 1280px 321px #57a16b  , 1025px 1267px #57a16b  , 392px 1066px #57a16b  , 1789px 593px #57a16b  , 228px 840px #57a16b  , 252px 715px #57a16b  , 309px 1621px #57a16b  , 1329px 1664px #57a16b  , 676px 1762px #57a16b  , 177px 410px #57a16b  , 613px 825px #57a16b  , 1806px 1661px #57a16b  , 827px 186px #57a16b  , 500px 1924px #57a16b  , 526px 443px #57a16b  , 799px 35px #57a16b  , 182px 1589px #57a16b  , 1930px 1878px #57a16b  , 1103px 917px #57a16b  , 1475px 337px #57a16b  , 1305px 1072px #57a16b  , 1847px 1387px #57a16b  , 1865px 149px #57a16b  , 210px 651px #57a16b  , 282px 206px #57a16b  , 152px 278px #57a16b  , 1880px 690px #57a16b  , 1033px 1451px #57a16b  , 1260px 1728px #57a16b  , 1832px 225px #57a16b  , 419px 587px #57a16b  , 322px 1482px #57a16b  , 550px 1344px #57a16b  , 1357px 1699px #57a16b  , 1125px 1108px #57a16b  , 1605px 1315px #57a16b  , 1280px 200px #57a16b  , 1143px 1022px #57a16b  , 226px 1335px #57a16b  , 1116px 1121px #57a16b  , 1255px 244px #57a16b  , 212px 1293px #57a16b  , 1450px 1622px #57a16b  , 178px 1087px #57a16b  , 876px 1308px #57a16b  , 458px 713px #57a16b  , 1386px 305px #57a16b  , 685px 1948px #57a16b  , 392px 294px #57a16b  , 1265px 965px #57a16b  , 494px 742px #57a16b  , 80px 562px #57a16b  , 601px 1530px #57a16b  , 1239px 434px #57a16b  , 1192px 650px #57a16b  , 1806px 538px #57a16b  , 1646px 577px #57a16b  , 1328px 1562px #57a16b  , 1353px 1686px #57a16b  , 612px 895px #57a16b  , 594px 1489px #57a16b  , 1481px 1019px #57a16b  , 154px 323px #57a16b  , 1212px 820px #57a16b  , 1095px 1496px #57a16b  , 1952px 1029px #57a16b  , 1694px 376px #57a16b  , 493px 1742px #57a16b  , 448px 1962px #57a16b  , 1138px 1710px #57a16b  , 1885px 718px #57a16b  , 404px 779px #57a16b  , 394px 1065px #57a16b  , 1767px 752px #57a16b  , 1835px 140px #57a16b  , 1176px 1265px #57a16b  , 1611px 1256px #57a16b  , 121px 1157px #57a16b  , 1565px 1613px #57a16b  , 579px 1738px #57a16b  , 1744px 359px #57a16b  , 934px 1068px #57a16b  , 1518px 302px #57a16b  , 614px 1057px #57a16b  , 1346px 1591px #57a16b  , 1256px 1982px #57a16b  , 998px 1534px #57a16b  , 651px 573px #57a16b  , 303px 1109px #57a16b  , 1477px 1003px #57a16b  , 598px 631px #57a16b  , 383px 1154px #57a16b  , 550px 322px #57a16b  , 202px 1437px #57a16b  , 1024px 1667px #57a16b  , 1506px 1977px #57a16b  , 465px 1302px #57a16b  , 510px 1131px #57a16b  , 1356px 1328px #57a16b  , 1312px 1262px #57a16b  , 345px 1567px #57a16b  , 373px 1238px #57a16b  , 1416px 1625px #57a16b  , 1113px 249px #57a16b  , 1531px 1288px #57a16b  , 828px 794px #57a16b  , 256px 426px #57a16b  , 869px 1321px #57a16b  , 1063px 1181px #57a16b  , 631px 635px #57a16b  , 139px 909px #57a16b  , 305px 1160px #57a16b  , 843px 477px #57a16b  , 1666px 277px #57a16b  , 740px 1019px #57a16b  , 264px 647px #57a16b  , 1459px 1055px #57a16b  , 976px 919px #57a16b  , 1728px 1147px #57a16b  , 1426px 1559px #57a16b  , 444px 525px #57a16b  , 1657px 1940px #57a16b  , 250px 1287px #57a16b  , 1596px 1399px #57a16b  , 555px 213px #57a16b  , 1952px 647px #57a16b  , 1371px 1635px #57a16b  , 803px 1622px #57a16b  , 1460px 534px #57a16b  , 1813px 984px #57a16b  , 1122px 1977px #57a16b  , 403px 884px #57a16b  , 1098px 896px #57a16b  , 1124px 1318px #57a16b  , 372px 1710px #57a16b  , 1308px 1233px #57a16b  , 1138px 1158px #57a16b  , 416px 1174px #57a16b  , 431px 1114px #57a16b  , 210px 1074px #57a16b  , 1111px 563px #57a16b  , 31px 1472px #57a16b  , 1629px 1311px #57a16b  , 677px 1022px #57a16b  , 232px 747px #57a16b  , 1753px 868px #57a16b  , 35px 1207px #57a16b  , 203px 1631px #57a16b  , 1977px 468px #57a16b  , 1261px 1036px #57a16b  , 322px 669px #57a16b  , 1710px 1340px #57a16b  , 1230px 463px #57a16b  , 1727px 1826px #57a16b  , 938px 1553px #57a16b  , 1562px 1690px #57a16b  , 78px 424px #57a16b  , 1927px 1980px #57a16b  , 1632px 1312px #57a16b  , 1352px 1325px #57a16b  , 66px 34px #57a16b  , 535px 138px #57a16b  , 152px 1324px #57a16b  , 1816px 580px #57a16b  , 1180px 756px #57a16b  , 1701px 1902px #57a16b  , 199px 1993px #57a16b  , 70px 1926px #57a16b  , 1342px 1276px #57a16b  , 23px 1926px #57a16b  , 1403px 172px #57a16b  , 88px 1368px #57a16b  , 1437px 1816px #57a16b  , 530px 845px #57a16b  , 845px 37px #57a16b  , 871px 1642px #57a16b  , 1357px 286px #57a16b  , 1690px 1192px #57a16b  , 266px 468px #57a16b  , 1826px 427px #57a16b  , 1256px 262px #57a16b  , 1053px 99px #57a16b  , 384px 106px #57a16b  , 32px 50px #57a16b  , 1083px 14px #57a16b  , 19px 1667px #57a16b  , 97px 1887px #57a16b  , 1356px 1699px #57a16b  , 1487px 1050px #57a16b  , 900px 1052px #57a16b  , 807px 1741px #57a16b  , 517px 360px #57a16b  , 332px 404px #57a16b  , 1253px 961px #57a16b  , 43px 558px #57a16b  , 1535px 371px #57a16b  , 448px 243px #57a16b  , 1560px 925px #57a16b  , 326px 745px #57a16b  , 956px 1182px #57a16b  , 1171px 1387px #57a16b  , 
  220px 1364px #57a16b  , 162px 1747px #57a16b  , 1116px 47px #57a16b  , 1507px 1228px #57a16b  , 
  912px 328px #57a16b  , 18px 345px #57a16b  , 863px 725px #57a16b  , 
  1373px 338px #57a16b  , 174px 76px #57a16b  , 42px 1740px #57a16b  , 1550px 304px #57a16b  , 1773px 1595px #57a16b  , 1285px 778px #57a16b  , 1734px 1881px #57a16b  , 
  1433px 1736px #57a16b  , 1449px 1573px #57a16b  , 1484px 784px #57a16b  , 384px 1716px #57a16b  , 1178px 808px #57a16b  , 474px 1387px #57a16b  , 942px 999px #57a16b  ,
   405px 1907px #57a16b  , 2px 1421px #57a16b  , 70px 59px #57a16b  , 391px 957px #57a16b  , 813px 1369px #57a16b  , 453px 1648px #57a16b  , 666px 1870px #57a16b  , 
   837px 211px #57a16b  , 9px 699px #57a16b  , 468px 862px #57a16b  , 1772px 963px #57a16b  , 1598px 663px #57a16b  , 220px 1204px #57a16b  , 51px 1405px #57a16b  , 
   1188px 1429px #57a16b  , 865px 1178px #57a16b  , 602px 33px #57a16b  , 440px 1498px #57a16b  , 428px 921px #57a16b  , 1756px 316px #57a16b  , 1886px 1965px #57a16b  , 
   1099px 782px #57a16b  , 1250px 140px #57a16b  , 542px 1471px #57a16b  , 81px 427px #57a16b  , 507px 1112px #57a16b  , 1034px 1273px #57a16b  , 1857px 1608px #57a16b  , 
   1873px 849px #57a16b  , 1194px 880px #57a16b  , 1385px 1948px #57a16b  , 1339px 571px #57a16b  , 1318px 1213px #57a16b  , 1999px 1461px #57a16b  , 446px 1347px #57a16b  , 
   730px 914px #57a16b  , 416px 670px #57a16b  , 665px 1298px #57a16b  , 621px 528px #57a16b  , 578px 1792px #57a16b  , 1972px 1433px #57a16b  , 677px 1908px #57a16b  , 
   806px 1953px #57a16b  , 1203px 1592px #57a16b  , 1138px 1362px #57a16b  , 1253px 153px #57a16b  , 1512px 1326px #57a16b  , 1726px 1015px #57a16b  , 685px 141px #57a16b  , 
   1031px 883px #57a16b  , 1269px 1272px #57a16b  , 1908px 1728px #57a16b  , 1433px 378px #57a16b  , 703px 207px #57a16b  , 350px 935px #57a16b  , 1475px 1326px #57a16b  , 
   1114px 1504px #57a16b  , 450px 941px #57a16b  , 1950px 1825px #57a16b  , 1507px 1113px #57a16b  , 931px 296px #57a16b  , 271px 1172px #57a16b  , 823px 531px #57a16b  , 
   1883px 279px #57a16b  , 80px 1834px #57a16b  , 242px 137px #57a16b  , 275px 1087px #57a16b  , 1375px 1319px #57a16b  , 820px 1176px #57a16b  , 912px 26px #57a16b  , 
   572px 79px #57a16b  , 303px 655px #57a16b  , 1849px 1435px #57a16b  , 702px 684px #57a16b  , 987px 1945px #57a16b  , 1934px 1667px #57a16b  , 267px 1753px #57a16b  , 
   216px 606px #57a16b  , 515px 1412px #57a16b  , 1598px 1181px #57a16b  , 897px 1853px #57a16b  , 1083px 121px #57a16b  , 413px 642px #57a16b  , 1819px 253px #57a16b  , 
   765px 556px #57a16b  , 525px 645px #57a16b  , 1748px 1135px #57a16b  , 1580px 1977px #57a16b  , 1580px 223px #57a16b  , 515px 134px #57a16b  , 116px 240px #57a16b  , 
   1629px 1470px #57a16b  , 1105px 1259px #57a16b  , 786px 1334px #57a16b  , 1908px 204px #57a16b  , 1519px 603px #57a16b  , 666px 1991px #57a16b  , 1208px 1483px #57a16b  , 
   73px 529px #57a16b  , 1246px 1602px #57a16b  , 1318px 118px #57a16b  , 1360px 937px #57a16b  , 1631px 1032px #57a16b  , 519px 765px #57a16b  , 916px 431px #57a16b  , 
   1931px 31px #57a16b  , 894px 224px #57a16b  , 1426px 316px #57a16b  , 1339px 1550px #57a16b  , 76px 1274px #57a16b  , 638px 1452px #57a16b  , 353px 1758px #57a16b  , 
   766px 1490px #57a16b  , 1410px 207px #57a16b  , 1560px 997px #57a16b  , 451px 766px #57a16b  , 1229px 1551px #57a16b  , 1135px 271px #57a16b  , 1879px 1980px #57a16b  , 
   467px 1434px #57a16b  , 1093px 911px #57a16b  , 1682px 396px #57a16b  , 824px 1910px #57a16b  , 465px 167px #57a16b  , 1324px 506px #57a16b  , 1731px 789px #57a16b  , 
   1092px 172px #57a16b  , 749px 983px #57a16b  , 1545px 284px #57a16b  , 1663px 1248px #57a16b  , 1575px 11px #57a16b  , 1691px 481px #57a16b  , 58px 1401px #57a16b  , 
   1677px 523px #57a16b  , 1068px 117px #57a16b  , 1045px 1694px #57a16b  , 1204px 117px #57a16b  , 1232px 272px #57a16b  , 599px 893px #57a16b  , 1655px 1178px #57a16b  , 
   270px 1912px #57a16b  , 599px 1774px #57a16b  , 16px 999px #57a16b  , 752px 106px #57a16b  , 1534px 219px #57a16b  , 1801px 1109px #57a16b  , 1178px 184px #57a16b  , 
   67px 243px #57a16b  , 1641px 221px #57a16b  , 1555px 1523px #57a16b  , 689px 1878px #57a16b  , 540px 1806px #57a16b  , 1888px 1799px #57a16b  , 691px 772px #57a16b  , 
   1217px 1399px #57a16b  , 936px 1856px #57a16b  , 909px 1831px #57a16b  , 1067px 982px #57a16b  , 1669px 318px #57a16b  , 526px 655px #57a16b  , 1415px 1580px #57a16b  , 
   370px 1959px #57a16b  , 1736px 1655px #57a16b  , 606px 1857px #57a16b  , 1313px 1005px #57a16b  , 544px 95px #57a16b  , 1215px 1591px #57a16b  , 865px 269px #57a16b  , 
   630px 1265px #57a16b  , 166px 523px #57a16b  , 296px 69px #57a16b  , 1291px 1400px #57a16b  , 515px 1464px #57a16b  , 1430px 315px #57a16b  , 721px 1265px #57a16b  , 
   383px 796px #57a16b ; 
  }

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 1081px 1627px #57a16b  , 857px 1910px #57a16b  , 1043px 221px #57a16b  , 1333px 240px #57a16b  , 1717px 545px #57a16b  , 
  466px 2px #57a16b  , 1784px 849px #57a16b  , 1218px 532px #57a16b  , 336px 794px #57a16b  , 237px 395px #57a16b , 1735px 228px #57a16b , 435px 1332px #57a16b , 1892px 1688px #57a16b , 477px 473px #57a16b , 1488px 383px #57a16b , 465px 709px #57a16b , 1112px 1445px #57a16b , 1307px 760px #57a16b , 638px 82px #57a16b , 1948px 1031px #57a16b , 1279px 341px #57a16b , 774px 964px #57a16b , 1487px 1354px #57a16b , 1238px 885px #57a16b , 183px 1616px #57a16b , 382px 1294px #57a16b , 1474px 892px #57a16b , 1968px 1008px #57a16b , 1114px 149px #57a16b , 1603px 1306px #57a16b , 920px 1897px #57a16b , 1740px 1842px #57a16b , 409px 695px #57a16b , 820px 972px #57a16b , 1338px 793px #57a16b , 80px 1354px #57a16b , 199px 79px #57a16b , 1535px 725px #57a16b , 1885px 334px #57a16b , 1866px 584px #57a16b , 244px 682px #57a16b , 1472px 684px #57a16b , 282px 1196px #57a16b , 710px 1500px #57a16b , 60px 85px #57a16b , 1400px 827px #57a16b , 218px 938px #57a16b , 22px 703px #57a16b , 1381px 1050px #57a16b , 1789px 801px #57a16b , 1160px 1975px #57a16b , 1108px 1708px #57a16b , 1907px 213px #57a16b , 1709px 1593px #57a16b , 1544px 1159px #57a16b , 1718px 1119px #57a16b , 1225px 1607px #57a16b , 1354px 1249px #57a16b , 1827px 1696px #57a16b , 228px 1519px #57a16b , 1526px 34px #57a16b , 1422px 160px #57a16b , 276px 1226px #57a16b , 1286px 1330px #57a16b , 1627px 558px #57a16b , 1047px 547px #57a16b , 804px 1624px #57a16b , 523px 1708px #57a16b , 1009px 1268px #57a16b , 1017px 1512px #57a16b , 102px 245px #57a16b , 1009px 1251px #57a16b , 352px 1288px #57a16b , 780px 20px #57a16b , 786px 445px #57a16b , 1931px 461px #57a16b , 1559px 555px #57a16b , 1129px 1774px #57a16b , 1316px 799px #57a16b , 1955px 65px #57a16b , 1190px 1770px #57a16b , 510px 46px #57a16b , 1686px 769px #57a16b , 1289px 846px #57a16b , 291px 954px #57a16b , 1931px 1381px #57a16b , 1431px 671px #57a16b , 440px 49px #57a16b , 1498px 364px #57a16b , 820px 1506px #57a16b , 621px 826px #57a16b , 475px 122px #57a16b , 937px 818px #57a16b , 264px 1811px #57a16b , 1302px 877px #57a16b , 896px 938px #57a16b , 1278px 1406px #57a16b , 413px 522px #57a16b , 704px 864px #57a16b , 557px 1687px #57a16b , 888px 1120px #57a16b , 1006px 1992px #57a16b , 1533px 1198px #57a16b , 1614px 1635px #57a16b , 1791px 927px #57a16b , 1565px 1312px #57a16b , 1966px 669px #57a16b , 567px 1167px #57a16b , 363px 1671px #57a16b , 54px 941px #57a16b , 1325px 1891px #57a16b , 449px 253px #57a16b , 1819px 1259px #57a16b , 94px 750px #57a16b , 1788px 159px #57a16b , 47px 313px #57a16b , 1621px 587px #57a16b , 774px 252px #57a16b , 864px 528px #57a16b , 663px 1117px #57a16b , 417px 1446px #57a16b , 1806px 148px #57a16b , 843px 501px #57a16b , 414px 86px #57a16b , 521px 324px #57a16b , 34px 1765px #57a16b , 1242px 1047px #57a16b , 1601px 1133px #57a16b , 1680px 177px #57a16b , 1552px 1752px #57a16b , 1234px 101px #57a16b , 1152px 160px #57a16b , 934px 828px #57a16b , 126px 1861px #57a16b , 600px 366px #57a16b , 231px 783px #57a16b , 1081px 1977px #57a16b , 1129px 45px #57a16b , 859px 1342px #57a16b , 992px 459px #57a16b , 254px 1773px #57a16b , 884px 110px #57a16b , 869px 278px #57a16b , 723px 1090px #57a16b , 695px 423px #57a16b , 1230px 221px #57a16b , 248px 1954px #57a16b , 395px 1069px #57a16b , 1522px 1055px #57a16b , 426px 1350px #57a16b , 1353px 547px #57a16b , 371px 1623px #57a16b , 911px 309px #57a16b , 74px 156px #57a16b , 1274px 1734px #57a16b , 556px 678px #57a16b , 1702px 347px #57a16b , 576px 391px #57a16b , 998px 1416px #57a16b , 23px 603px #57a16b , 428px 51px #57a16b , 1649px 6px #57a16b , 525px 751px #57a16b , 502px 1478px #57a16b , 1617px 1012px #57a16b , 953px 471px #57a16b , 507px 683px #57a16b , 276px 338px #57a16b , 596px 1034px #57a16b , 1679px 1119px #57a16b , 1308px 705px #57a16b , 1005px 1900px #57a16b , 1994px 601px #57a16b , 1496px 448px #57a16b , 1686px 1897px #57a16b , 622px 1401px #57a16b , 1447px 281px #57a16b , 1646px 678px #57a16b , 1321px 1273px #57a16b , 96px 386px #57a16b , 844px 779px #57a16b , 994px 448px #57a16b , 1458px 764px #57a16b , 1859px 1339px #57a16b , 115px 442px #57a16b , 867px 774px #57a16b , 94px 806px #57a16b , 115px 501px #57a16b , 1289px 316px #57a16b , 1530px 1410px #57a16b , 1216px 1095px #57a16b , 1956px 1305px #57a16b , 1518px 682px #57a16b , 696px 964px #57a16b , 1050px 1521px #57a16b , 1256px 452px #57a16b , 646px 739px #57a16b , 833px 1531px #57a16b , 193px 1376px #57a16b , 1205px 1436px #57a16b;
  animation: animStar 70s linear infinite; }
  #stars2:after {
    content: " ";
    position: absolute;

    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1081px 1627px #57a16b , 857px 1910px #57a16b , 1043px 221px #57a16b , 1333px 240px #57a16b , 1717px 545px #57a16b , 466px 2px #57a16b , 
    1784px 849px #57a16b , 1218px 532px #57a16b , 336px 794px #57a16b , 237px 395px #57a16b , 1735px 228px #57a16b , 435px 1332px #57a16b , 1892px 1688px #57a16b , 
    477px 473px #57a16b , 1488px 383px #57a16b , 465px 709px #57a16b , 1112px 1445px #57a16b , 1307px 760px #57a16b , 638px 82px #57a16b , 1948px 1031px #57a16b , 
    1279px 341px #57a16b , 774px 964px #57a16b , 1487px 1354px #57a16b , 1238px 885px #57a16b , 183px 1616px #57a16b , 382px 1294px #57a16b , 1474px 892px #57a16b , 
    1968px 1008px #57a16b , 1114px 149px #57a16b , 1603px 1306px #57a16b , 920px 1897px #57a16b , 1740px 1842px #57a16b , 409px 695px #57a16b , 820px 972px #57a16b , 1338px 793px #57a16b , 80px 1354px #57a16b , 199px 79px #57a16b , 1535px 725px #57a16b , 1885px 334px #57a16b , 1866px 584px #57a16b , 244px 682px #57a16b , 1472px 684px #57a16b , 282px 1196px #57a16b , 710px 1500px #57a16b , 60px 85px #57a16b , 1400px 827px #57a16b , 218px 938px #57a16b , 22px 703px #57a16b , 1381px 1050px #57a16b , 1789px 801px #57a16b , 1160px 1975px #57a16b , 1108px 1708px #57a16b , 1907px 213px #57a16b , 1709px 1593px #57a16b , 1544px 1159px #57a16b , 1718px 1119px #57a16b , 1225px 1607px #57a16b , 1354px 1249px #57a16b , 1827px 1696px #57a16b , 228px 1519px #57a16b , 1526px 34px #57a16b , 1422px 160px #57a16b , 276px 1226px #57a16b , 1286px 1330px #57a16b , 1627px 558px #57a16b , 1047px 547px #57a16b , 804px 1624px #57a16b , 523px 1708px #57a16b , 1009px 1268px #57a16b , 1017px 1512px #57a16b , 102px 245px #57a16b , 1009px 1251px #57a16b , 352px 1288px #57a16b , 780px 20px #57a16b , 786px 445px #57a16b , 1931px 461px #57a16b , 1559px 555px #57a16b , 1129px 1774px #57a16b , 1316px 799px #57a16b , 1955px 65px #57a16b , 1190px 1770px #57a16b , 510px 46px #57a16b , 1686px 769px #57a16b , 1289px 846px #57a16b , 291px 954px #57a16b , 1931px 1381px #57a16b , 1431px 671px #57a16b , 440px 49px #57a16b , 1498px 364px #57a16b , 820px 1506px #57a16b , 621px 826px #57a16b , 475px 122px #57a16b , 937px 818px #57a16b , 264px 1811px #57a16b , 1302px 877px #57a16b , 896px 938px #57a16b , 1278px 1406px #57a16b , 413px 522px #57a16b , 704px 864px #57a16b , 557px 1687px #57a16b , 888px 1120px #57a16b , 1006px 1992px #57a16b , 1533px 1198px #57a16b , 1614px 1635px #57a16b , 1791px 927px #57a16b , 1565px 1312px #57a16b , 1966px 669px #57a16b , 567px 1167px #57a16b , 363px 1671px #57a16b , 54px 941px #57a16b , 1325px 1891px #57a16b , 449px 253px #57a16b , 1819px 1259px #57a16b , 94px 750px #57a16b , 1788px 159px #57a16b , 47px 313px #57a16b , 1621px 587px #57a16b , 774px 252px #57a16b , 864px 528px #57a16b , 663px 1117px #57a16b , 417px 1446px #57a16b , 1806px 148px #57a16b , 843px 501px #57a16b , 414px 86px #57a16b , 521px 324px #57a16b , 34px 1765px #57a16b , 1242px 1047px #57a16b , 1601px 1133px #57a16b , 1680px 177px #57a16b , 1552px 1752px #57a16b , 1234px 101px #57a16b , 1152px 160px #57a16b , 934px 828px #57a16b , 126px 1861px #57a16b , 600px 366px #57a16b , 231px 783px #57a16b , 1081px 1977px #57a16b , 1129px 45px #57a16b , 859px 1342px #57a16b , 992px 459px #57a16b , 254px 1773px #57a16b , 884px 110px #57a16b , 869px 278px #57a16b , 723px 1090px #57a16b , 695px 423px #57a16b , 1230px 221px #57a16b , 248px 1954px #57a16b , 395px 1069px #57a16b , 1522px 1055px #57a16b , 426px 1350px #57a16b , 1353px 547px #57a16b , 371px 1623px #57a16b , 911px 309px #57a16b , 74px 156px #57a16b , 1274px 1734px #57a16b , 556px 678px #57a16b , 1702px 347px #57a16b , 576px 391px #57a16b , 998px 1416px #57a16b , 23px 603px #57a16b , 428px 51px #57a16b , 1649px 6px #57a16b , 525px 751px #57a16b , 502px 1478px #57a16b , 1617px 1012px #57a16b , 953px 471px #57a16b , 507px 683px #57a16b , 276px 338px #57a16b , 596px 1034px #57a16b , 1679px 1119px #57a16b , 1308px 705px #57a16b , 1005px 1900px #57a16b , 1994px 601px #57a16b , 1496px 448px #57a16b , 1686px 1897px #57a16b , 622px 1401px #57a16b , 1447px 281px #57a16b , 1646px 678px #57a16b , 1321px 1273px #57a16b , 96px 386px #57a16b , 844px 779px #57a16b , 994px 448px #57a16b , 1458px 764px #57a16b , 1859px 1339px #57a16b , 115px 442px #57a16b , 867px 774px #57a16b , 94px 806px #57a16b , 115px 501px #57a16b , 1289px 316px #57a16b , 1530px 1410px #57a16b , 1216px 1095px #57a16b , 1956px 1305px #57a16b , 1518px 682px #57a16b , 696px 964px #57a16b , 1050px 1521px #57a16b , 1256px 452px #57a16b , 646px 739px #57a16b , 833px 1531px #57a16b , 193px 1376px #57a16b ,
     1205px 1436px #57a16b; }

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 13px 849px #57a16b , 1785px 1211px #57a16b , 866px 943px #57a16b , 1269px 1284px #57a16b , 1049px 228px #57a16b , 163px 1732px #57a16b , 658px 812px #57a16b , 974px 1792px #57a16b , 962px 913px #57a16b , 1848px 170px #57a16b , 264px 1653px #57a16b , 645px 1375px #57a16b , 400px 1129px #57a16b , 1271px 171px #57a16b , 1722px 1955px #57a16b , 117px 1525px #57a16b , 1738px 1113px #57a16b , 164px 501px #57a16b , 388px 272px #57a16b , 193px 263px #57a16b , 82px 1370px #57a16b , 1637px 669px #57a16b , 1746px 1369px #57a16b , 1258px 1023px #57a16b , 1697px 1163px #57a16b , 1829px 1430px #57a16b , 1431px 1055px #57a16b , 1197px 682px #57a16b , 881px 1828px #57a16b , 341px 141px #57a16b , 1226px 1588px #57a16b , 198px 1862px #57a16b , 746px 1976px #57a16b , 176px 641px #57a16b , 1760px 499px #57a16b , 20px 1108px #57a16b , 232px 382px #57a16b , 1318px 1817px #57a16b , 897px 139px #57a16b , 1734px 1650px #57a16b , 299px 641px #57a16b , 1991px 1032px #57a16b , 1191px 454px #57a16b , 1980px 1537px #57a16b , 465px 255px #57a16b , 1394px 1668px #57a16b , 190px 650px #57a16b , 1598px 1225px #57a16b , 1824px 452px #57a16b , 1441px 770px #57a16b , 1986px 682px #57a16b , 1882px 545px #57a16b , 1279px 129px #57a16b , 817px 558px #57a16b , 1171px 1930px #57a16b , 1865px 33px #57a16b , 1096px 834px #57a16b , 1783px 473px #57a16b , 596px 1523px #57a16b , 1396px 137px #57a16b , 1px 1962px #57a16b , 1732px 679px #57a16b , 3px 656px #57a16b , 597px 995px #57a16b , 1313px 230px #57a16b , 1707px 1670px #57a16b , 841px 386px #57a16b , 255px 1430px #57a16b , 1297px 182px #57a16b , 615px 1969px #57a16b , 643px 446px #57a16b , 908px 265px #57a16b , 747px 615px #57a16b , 1477px 1305px #57a16b , 180px 843px #57a16b , 438px 487px #57a16b , 163px 1436px #57a16b , 1251px 1170px #57a16b , 535px 924px #57a16b , 898px 393px #57a16b , 984px 430px #57a16b , 1268px 419px #57a16b , 505px 1359px #57a16b , 571px 1078px #57a16b , 194px 1248px #57a16b , 1816px 1300px #57a16b , 1847px 1971px #57a16b , 1174px 531px #57a16b , 256px 618px #57a16b , 1065px 1149px #57a16b , 664px 339px #57a16b , 1470px 1774px #57a16b , 563px 480px #57a16b , 723px 305px #57a16b , 1397px 1714px #57a16b , 574px 1879px #57a16b , 483px 391px #57a16b , 1939px 1541px #57a16b , 597px 984px #57a16b , 1093px 1694px #57a16b;
  animation: animStar 90s linear infinite; }
  #stars3:after {
    content: " ";
    position: absolute;

    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 13px 849px #57a16b , 1785px 1211px #57a16b , 866px 943px #57a16b , 1269px 1284px #57a16b , 1049px 228px #57a16b , 163px 1732px #57a16b , 658px 812px #57a16b , 974px 1792px #57a16b , 962px 913px #57a16b , 1848px 170px #57a16b , 264px 1653px #57a16b , 645px 1375px #57a16b , 400px 1129px #57a16b , 1271px 171px #57a16b , 1722px 1955px #57a16b , 117px 1525px #57a16b , 1738px 1113px #57a16b , 164px 501px #57a16b , 388px 272px #57a16b , 193px 263px #57a16b , 82px 1370px #57a16b , 1637px 669px #57a16b , 1746px 1369px #57a16b , 1258px 1023px #57a16b , 1697px 1163px #57a16b , 1829px 1430px #57a16b , 1431px 1055px #57a16b , 1197px 682px #57a16b , 881px 1828px #57a16b , 341px 141px #57a16b , 1226px 1588px #57a16b , 198px 1862px #57a16b , 746px 1976px #57a16b , 176px 641px #57a16b , 1760px 499px #57a16b , 20px 1108px #57a16b , 232px 382px #57a16b , 1318px 1817px #57a16b , 897px 139px #57a16b , 1734px 1650px #57a16b , 299px 641px #57a16b , 1991px 1032px #57a16b , 1191px 454px #57a16b , 1980px 1537px #57a16b , 465px 255px #57a16b , 1394px 1668px #57a16b , 190px 650px #57a16b , 1598px 1225px #57a16b , 1824px 452px #57a16b , 1441px 770px #57a16b , 1986px 682px #57a16b , 1882px 545px #57a16b , 1279px 129px #57a16b , 817px 558px #57a16b , 1171px 1930px #57a16b , 1865px 33px #57a16b , 1096px 834px #57a16b , 1783px 473px #57a16b , 596px 1523px #57a16b , 1396px 137px #57a16b , 1px 1962px #57a16b , 1732px 679px #57a16b , 3px 656px #57a16b , 597px 995px #57a16b , 1313px 230px #57a16b , 1707px 1670px #57a16b , 841px 386px #57a16b , 255px 1430px #57a16b , 1297px 182px #57a16b , 615px 1969px #57a16b , 643px 446px #57a16b , 908px 265px #57a16b , 747px 615px #57a16b , 1477px 1305px #57a16b , 180px 843px #57a16b , 438px 487px #57a16b , 163px 1436px #57a16b , 1251px 1170px #57a16b , 535px 924px #57a16b , 898px 393px #57a16b , 984px 430px #57a16b , 1268px 419px #57a16b , 505px 1359px #57a16b , 571px 1078px #57a16b , 194px 1248px #57a16b , 1816px 1300px #57a16b , 1847px 1971px #57a16b , 1174px 531px #57a16b , 256px 618px #57a16b , 1065px 1149px #57a16b , 664px 339px #57a16b , 1470px 1774px #57a16b , 563px 480px #57a16b , 723px 305px #57a16b , 1397px 1714px #57a16b , 574px 1879px #57a16b , 483px 391px #57a16b , 1939px 1541px #57a16b , 597px 984px #57a16b , 1093px 1694px #57a16b; 
  }




@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }

.backgroundDark {
  background-color: #343a40; }